.back-btn {
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  background: #09d0eb;
  cursor: pointer;
  text-decoration: none;
}
.back-btn:hover {
  background: #037294;
}
.back-btn::before {
  content: 'â† ';
  font-weight: bold;
}
/* #region index */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 15px;
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 10px;
}
h1 {
  text-align: center;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li > a {
  padding: 5px;
  font-size: 24px;
  color: inherit;
}
/* #endregion index */

/* #region timer */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 32px;
}
#datetime-picker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid #808080;
}
#datetime-picker:hover {
  border: 1px solid #000;
}
#datetime-picker:active {
  border: 1px solid #4e75ff;
}
.back-btn,
#start-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background: #4e75ff;
  color: #fff;
}
#start-button:hover {
  background: #6c8cff;
  color: #fff;
}
#start-button:disabled {
  background: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  height: 72px;
}
.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
/* #endregion timer */

/* #region snackbar */
.form {
  width: 360px;
  margin: 40px auto;
}
.delay-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.delay-input {
  width: 100%;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 16px 8px;
  transition: border-color 300ms ease-in-out;
}
.delay-input:hover {
  border-color: #000;
}
.delay-input:focus {
  border-color: #4e75ff;
  outline: none;
}

fieldset {
  height: 78px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  padding-bottom: 8px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
fieldset:hover,
fieldset:active {
  stroke: #000;
}
legend {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.state-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}
.state-input {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;

  transition: border-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.state-input:checked {
  background-color: #4e75ff;
  border-color: #4e75ff;
  transform: scale(1.2);
}
.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;

  background: #4e75ff;
  margin-top: 24px;

  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
.form-btn:hover {
  background: #6c8cff;
}
